.forkme {
  position: absolute; top: 0; right: 0; border: 0;
}

.footer {
  border-color: var(--border-color);
}

.footer p {
  text-transform: lowercase;
}

.footer p a {
  color: inherit;
}

.footer .name {
  word-spacing: -0.3em;
}
.footer .name-first {
  opacity: 0.7;
}

.container .jumbotron {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.highlight pre, pre, code {
  background-color: var(--code-bg-color);
  color: var(--code-color);
  border: var(--border-color);
}